flows/company/team/goshawk_890259.yml
id: goshawk_890259
namespace: company.team

tasks:
  - id: hello
    type: io.kestra.plugin.core.log.Log
    message: Hello World! 🚀
    
  - id: write_file
    type: io.kestra.plugin.core.storage.Write
    content: "This is the content of the file."
    extension: .txt

  - id: wait_for_resume
    type: io.kestra.plugin.core.flow.Pause

  - id: log_file_uri
    type: io.kestra.plugin.core.log.Log
    message: "{{ outputs.write_file.uri }}"

  - id: hello_2_you
    type: io.kestra.plugin.core.log.Log
    message: Hello World! 🚀